/* Expandable example queries */

.example_list.hidden {
  display: none;
}

.examples_button {
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.example_list {
  list-style-type: none;
  padding-inline-start: 1em;
  margin-top: 0.8ex;
}

.example .query {
  font-size: 110%;
}

.example .comment {
  display: block;
  margin-left: 1em;
  margin-bottom: 1ex;
}

