<h1><a href="..">Wikipedia title search</a></h1>
<p>This tool is essentially a wrapper around Wikipedia searches using the <code>intitle:</code> keyword. For example, searching for <a href="../#raincoat"><code>raincoat</code></a> is equivalent to the search <a href="https://en.wikipedia.org/w/index.php?search=intitle%3Araincoat&amp;title=Special%3ASearch&amp;fulltext=1&amp;ns0=1"><code>intitle:raincoat</code></a> on Wikipedia, with one important difference: the Wikipedia search returns 19 results, including two links to the articles "Mackintosh" and "Cagoule". You may notice these titles don't contain the text "raincoat", but they're included because there are redirects to these articles that do match the query. For example, "Macintosh raincoat" is a redirect to "Mackintosh". Our tool filters these results out, hence the text <em>Got 17 results. Query found 19 total hits including redirects (not shown).</em>.</p>
<h2>Query syntax</h2>
<p>Because our tool is a wrapper around the <code>intitle</code> keyword, it supports the same syntax, as documented <a href="https://www.mediawiki.org/wiki/Help:CirrusSearch#Intitle_and_incategory">here</a>. Notes:</p>
<ul>
<li>By default, queries are subject to stemming, so a search for animals will include articles with titles containing "animal". Stop words such as "of" or "and" may be ignored.</li>
<li>Multi-word phrases should be enclosed in quotation marks.</li>
<li>Searches are case-insensitive, except regular expression searches.</li>
</ul>
<p>Regular expression searches should be delimited by /.../, e.g. <a href="../#/Cultural_depictions_of/">/Cultural depictions of/</a>.</p>
<h2>Examples</h2>
<ul>
<li><a href="../#%22saint_peter%22;/St._Peter/;/St_Peter/">Saint Peter vs. St. Peter vs. St Peter</a></li>
</ul>
<h2>Known issues</h2>
<ul>
<li>Anchors in regular expressions (<code>^</code> and <code>$</code>) don't work. E.g. <a href="../#/^Cultural_depictions_of/">/^Cultural depictions of/</a> gives zero results. This seems to be a problem with the Wikipedia search API.</li>
<li>Currently there's a limit of 500 search results.</li>
</ul>
<h2>Source</h2>
<p>Source code is at <a href="https://gitlab.com/falsifian/wikipedia-title-search/">https://gitlab.com/falsifian/wikipedia-title-search/</a>. By <a href="https://en.wikipedia.org/wiki/User:Colin_M">Colin M</a> and <a href="https://en.wikipedia.org/wiki/User:Falsifian">Falsifian</a>.</p>