.searches {
  display: flex;
}

.search_pane {
  background-color: #eee;
  margin: 5px;
  max-width: 600px;
  flex-grow: 1;
  flex-basis: 0;
}

.search_pane button.remove {
  float: right;
  background-color: #bbb;
  font-weight: bold;
  cursor: pointer;
}
.search_pane button.remove:hover {
  background-color: #aaa;
}

.api_error {
  font-family: monospace;
}

.api_error::before {
  font-family: sans-serif;
  content: "Error: ";
}

.buttons {
  display: flex;
  flex-direction: column;
}

.big_button .glyph {
  font-size: 36px;
  font-weight: bold;
}

.big_button {
  margin-top: 1em;
  margin-left: 1em;
  cursor: pointer;
}
.big_button:hover {
  filter: brightness(95%);
}

button.newpane {
  background-color: hsl(120, 80%, 88%);
}
button.reset {
  background-color: #ddd;
}

